@inject SweetAlertService swal
@using Microsoft.AspNetCore.Authorization;

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>
<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Documen</label>
        <div>
            <InputText width="10" @bind-Value="Customer.Document"></InputText>
            <ValidationMessage For="@(() => Customer.Document)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Nombres:</label>
        <div>
            <InputText width="10" @bind-Value="Customer.FirstName"></InputText>
            <ValidationMessage For="@(() => Customer.FirstName)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Apellidos:</label>
        <div>
            <InputText width="10" @bind-Value="Customer.LastName"></InputText>
            <ValidationMessage For="@(() => Customer.LastName)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Fecha de nacimiento:</label>
        <div>
            <InputDate @bind-Value="Customer.DateOfBirth" class="form-control" />
            <ValidationMessage For="@(() => Customer.DateOfBirth)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Email:</label>
        <div>
            <InputText width="10" @bind-Value="Customer.Email"></InputText>
            <ValidationMessage For="@(() => Customer.Email)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Teléfono:</label>
        <div>
            <InputText width="10" @bind-Value="Customer.CellPhone"></InputText>
            <ValidationMessage For="@(() => Customer.CellPhone)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Dirección:</label>
        <div>
            <InputText width="10" @bind-Value="Customer.Address"></InputText>
            <ValidationMessage For="@(() => Customer.Address)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit"><i class="bi bi-floppy" />Guardar Cambios</button>
    <button class="btn btn-info" type="reset"><i class="bi bi-x-circle" />Limpiar</button>
    <button class="btn btn-success" onclick="ReturnAction"><i class="bi bi-arrow-left" />Regresar</button> 
</EditForm>

@code {
  
    private EditContext editContext = null!;
    protected override void OnInitialized()
    {
        editContext = new(Customer);
    }

    [Parameter]
    [EditorRequired]
    public Customer Customer { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    public bool FormularioPosteadoConExito { get; set; } = false;



    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormularioPosteadoConExito)
        {
            return;
        }

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }
}